/* Home.module.css */

.header {
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
}

.header h3 {
  margin: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.textSection {
  flex: 50%;
}

.imageSection {
  flex: 50%;
  position: relative;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 10px 20px;
  align-items: flex-start;
}

.subtitle {
  font-size: 2em;
  color: black;
  margin-bottom: 5px;
  font-weight: bold;
}

.title {
  font-size: 2em;
  color: red;
  font-weight: bold;
}

.textParagraph {
  margin: 10px 20px 10px 20px;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: left;
  line-height: 2;
  letter-spacing: 0.05em;
  border-radius: 8px;
}

.buttonContainer {
  margin-top: 20px;
  margin-left: 60px;
}

.button {
  padding: 10px 20px;
  background-color: #4a00e0;
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  display: inline-block;
  text-decoration: none;
  transition: background-color 0.3s ease;
  width: 100px;
}

.button:hover {
  background-color: #3200a8;
}

.imageSection img {
  display: block;
  border-radius: 10px;
  transition: transform 0.3s ease;
}

.imageSection img:nth-child(1) {
  width: 90%;
  left: 0;
}

.imageSection img:nth-child(2) {
  width: 80%;
  transform: translate(24%, -40%);
}

.imageSection img:hover {
  transform: scale(1.1) rotate(3deg);
}

.imageSection img:nth-child(2):hover {
  transform: translate(24%, -40%) scale(1.1) rotate(3deg);
}

@media (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .textSection,
  .imageSection {
    width: 100%;
  }

  .imageSection {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .imageSection img {
    position: absolute;
    width: 80%;
    transform: none !important;
  }

  .imageSection img {
    position: static !important;
    width: 100% !important;
    margin-bottom: 20px;
  }
}
