.topBar {
  height: 80px;
  display: flex;
}

.sideBar {
  height: calc(100vh - 80px);
  display: flex;
}

.left {
  border-bottom: 1px solid #99999944;
  border-right: 1px solid #99999944;
  height: inherit;
  transition: margin-left 0.2s ease-in;
}

.right {
  border-bottom: 1px solid #99999944;
  position: relative;
  width: 100%;
  transition: margin-left 0.2s ease-in;
}

.menuClose .left nav {
  margin-left: -250px;
}
.menuClose .right {
  flex: 100%;
}

#main {
  position: relative;
  padding: 40px;
  overflow-y: scroll;
}

.logo {
  height: 100%;
  min-width: 250px;
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
}

.logo img {
  height: 60px;
  width: 60px;
}

.left .navGroup {
  content: "GENERAL";
  font-size: 10px;
  color: #333;
}

.navButton {
  position: relative;
  top: 50%;
  left: 10px;
  padding: 0 4px;
  transform: translateY(-50%);
  width: 25px;
  height: 25px;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

.topBarBox {
  height: 100%;
  right: 20px;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: end;
}

.loginUser {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}
.timeBox {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 20px;
}

.timeText {
  font-size: 14px;
  color: #777;
}



.navButton:active {
  scale: 0.95;
}

.left nav {
  width: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  transition: margin-left 0.2s ease-in;
}

.NavbarBottom {
  margin-top: auto;
}

.left nav ul {
  margin-top: 20px;
  padding: 20px;
  list-style-type: none;
}

.left nav ul li {
  border-radius: 4px;
}
.left nav ul li a {
  display: flex;
  align-items: center;
  padding-left: 20px;
  height: 48px;
  font-size: 16px;
  color: #121212;
  user-select: none;
  cursor: pointer;
  border-radius: 4px;
  gap: 10px;
  text-decoration: none;
  font-weight: 500;
}

.left nav ul li:hover {
  background-color: #eee;
}

.active {
  background-color: #5627dc;
}

.active:hover {
  background-color: #5627dc !important;
}

.active * {
  color: white !important;
  stroke: white;
}

.left nav a:visited {
  color: #121212;
}

footer {
  height: 80px;
}

@media only screen and (max-width: 768px) {
  .left {
    position: fixed;
    z-index: 1000;
    margin-left: -250px;
    background-color: white;
  }

  .menuOpen .left {
    margin-left: 0px;
  }
  .menuOpen .right {
    flex: 100%;
  }
  .logo {
    display: none;
  }
  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #00000012;
    z-index: 100;
  }

  .loginUser {
    display: none;
  }
}
