.galleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.galleryImage {
  width: 30%;
  aspect-ratio: 1 / 1;
  min-width: 150px;
  cursor: pointer;
}

.editPlaceholder {
  width: 30%;
  aspect-ratio: 1 / 1;
  min-width: 150px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
  user-select: none;
}

.fullGalleryContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.fullGalleryImageContainer {
  position: relative;
  width: 24%;
  min-width: 150px;
  min-height: 150px;
  aspect-ratio: 1 / 1;
}

.fullGalleryImage {
  width: 100%;
  height: 100%;
  min-width: 150px;
  min-height: 150px;
}

.fullEditPlaceholder {
  width: 24%;
  min-width: 150px;
  min-height: 150px;
  border: 2px dashed #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  color: #ccc;
}
