.faq-title{
    font-family: Georgia, 'Times New Roman', Times, serif !important; 
}
.accordion-box{
    width: 70%;
}
.title-accordion{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
    font-size: 20px !important;
}
.body-accordion{
    font-family: Times, Helvetica, sans-serif !important;
}

.help-info-box{
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
}
.faq-box{
    display: flex;
}
.faq-icons{
    margin-right: 0.5rem;
    background-color: rgba(79, 78, 78, 0.1);
    border-radius: 5px;
    padding: 5px;
}