/* QAAccordion.module.css */
.accordion {
  background: #e8e8e8 !important;
  margin-bottom: 10px;
}

.question {
  padding-left: 50px;
}

.answer {
  padding: 20px !important;
  padding-left: 60px !important;
  background-color: #f9f9f9;
  overflow-y: auto;
  color: #74828F;
}

.qPart {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.05px;
  color: white;
  width: 50px;
  height: 100%;
  background-color: #5627dc;
}
